.main-game {
  /* width: calc(100% - 60px); */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.gameWindow {
  min-height: calc(100vh - 200px);
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center;
}

.gameWindow a {
  color: #837a7a;
}

.window {
  border: 1px solid #000000;
  border-radius: 8px;
}
.centerEl {
  align-self: center;
}

.connectBtn {
  color: #000000;
  font-size: 16px;
  height: 65px;
  width: 212px;
  border: 1px solid #000000;
  border-radius: 8px;
  background-color: transparent;
}

.connectBtn:hover {
  cursor: pointer;
}

.timer {
  font-size: 50px;
  padding: 20px;
}

.chooseTitle {
  font-size: 30px;
}

.gameField {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  height: 100%;
}

.move:hover {
  cursor: pointer;
}

.move {
  width: 33%;
  aspect-ratio: 1/1;

  border: none;
}

.rock {
  background: url("./media/rock.png");
  background-size: cover;
}

.scissors {
  background: url("./media/scissors.png");
  background-size: cover;
}

.paper {
  background: url("./media/paper.png");
  background-size: cover;
}

.moves {
  display: flex;
  flex-direction: raw;
  justify-content: space-between;
  padding-bottom: 20px;
}

.playerMoveImg {
  width: 50px;
  height: 50px;
}

.chatWindow {
  min-height: calc(100vh - 210px);
  height: calc(100% - 10px);
  width: 25%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.messages-block {
  padding: 10px 30px;
  border: thick double #cea232;
  height: 450px;
  background-color: #f1f1f1;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge*/
  scrollbar-width: none; /* Firefox*/
}
.sentMessage-form {
  display: flex;
  /* gap: 5px; */
  align-items: center;
  border: 1px solid #000000;
  border-radius: 8px;
  align-self: flex-end;
  margin-top: 5px;
  width: 100%;
}

.sentMessage-form > .sentMessage-input {
  background: transparent;
  border: none;
  width: 90%;
  height: 36px;
  margin: 5px 0;
  font-size: 15px;
  padding: 5px 10px;
}

.sentMessage-form > .sentMessage-btn {
  color: black;
  height: 36;
  width: 78px;
  border: 1px solid #000000;
  border-radius: 7px;
  margin: 5px;
  font-size: 11px;
  padding: 8px 15px;
  background-color: transparent;
}

.sentMessage-form > .sentMessage-btn:hover {
  background-color: #fecb6899;
}
.sentMessage-form textarea:focus,
input:focus {
  outline: none;
}
.message-block {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  min-height: 15px;
  color: #1e1e23;
  width: 100%;
  height: 100%;
  word-wrap: break-word;
}

.message-block-no-owner {
  margin-left: 0;
  margin-right: auto;
  align-items: start;
}
.message {
  min-height: 10px;
  max-width: 100%;
}
.message-text {
  word-wrap: break-word;
  min-height: 23px;
}
@media (max-width: 625px) {
  .chat-block {
    width: 80%;
  }
  .message-text {
    font-size: 12px;
  }
  .messages-block {
    padding: 5px 10px;
  }
}
